/**
 * Expedition_Pack - Front-end assets used for the 7Summits Expedition Pack
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS ol,
.THIS ul {
  margin: 0 0 0 1.25rem;
}
.THIS ul {
  list-style-type: initial;
}
.THIS ol {
  list-style-type: decimal;
}