@font-face {
    font-family: "UniversLTStd-Cn";
    src: url("/sfsites/c/resource/partnerCommunityAssets/fonts/UniversLTStd_Cn");
}

.THIS .view-cases-button {
    border: 0;
    background-color: t(colorBackgroundAlt);
    color: #005eb8;
}

/* turn off row borders */
.THIS table.slds-table {
    border: none !important;
}

.THIS table.slds-table tbody td {
    /* turn off the row borders */
    border: none !important;
}

.THIS table.slds-table tbody th {
    /* turn off the row borders */
    border: none !important;
}

/* end turn off row borders */
.THIS .moto-input-item input,
.THIS .moto-select-item select {
    color: #767676;
    border-color: #e5e5e5;
    border-radius: 0;
    height: t(buttonSizeLarge);
    font-size: t(fontSizeMedium);
}

.THIS .moto-input-item label,
.THIS .moto-select-item label {
    color: #343434;
    font-weight: t(fontWeightRegular);
    font-size: t(fontSizeSmall);
    margin-bottom: t(spacingXSmall);
}

.THIS.view-all-container {
    margin-top: 18px;
}

.THIS.title-container {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}

.THIS.title-container.extra-space {
    margin-top: 80px;
}

.THIS.title-container h2 {
    font-size: 32px;
    line-height: 45px;
    color: #343434;
    font-family: "UniversLTStd-Cn";
    line-height: 45px;
    letter-spacing: -0.5px;
}

.THIS.filter-bottom-space {
    margin-bottom: 64px;
}

.THIS.moto-sub-title p {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #666666;
    text-align: center;
    margin-bottom: 26px;
}

.THIS.slds-spinner_container {
    z-index: 7000;
}